@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1ygcj2i-MuiTableCell-root{
    padding: 10px;
}

select:not([size]) {    
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
    padding-right: 30px;    
  }

